# **Project Name**    - Local Food Wastage Management System

##### **Project Type**    - SQL/EDA
##### **Contribution**    - Individual
Name - Shawn Lasrado

# **Project Summary -**

Food wastage is a major global and local challenge that affects economies, the environment, and social welfare. Every day, a large quantity of good, edible food is discarded by households, restaurants, and grocery stores, while many individuals and families experience food insecurity and hunger.

The core problem lies in the inefficient distribution of surplus food that could still be consumed does not effectively reach those who need it most. This wasted resource adds to landfill volumes and greenhouse gas emissions and deepens social inequalities.

To tackle this issue, our project developed a Local Food Wastage Management System with the goal of creating a streamlined, technology driven platform that:

* Allows restaurants, grocery stores, and individuals to list their surplus food in real time.

* Enables NGOs, community centers, and individuals facing food hardship to claim food items they need.

* Maintains an SQL database that accurately stores details on food availability, provider locations, and claims.

* Offers a user-friendly Streamlit application interface providing filtering options, CRUD (Create, Read, Update, Delete) operations on listings and claims, and insightful visual analytics.

Our approach began by preparing and cleaning the datasets to ensure consistency, followed by designing SQL tables to store providers, receivers, food listings, and claim records. Efficient SQL queries were crafted to uncover food wastage trends and behavior patterns.

Then, we built the Streamlit app to connect users seamlessly with up-to-date food donation information. The app supports search filters by location, food type, and meal type, along with direct contact details to foster swift coordination between donors and recipients.

By connecting surplus food sources to those who need it, this system aims to reduce waste, promote sustainability, and improve community food security through effective redistribution and data-driven decisions.

# **GitHub Link -**

https://github.com/shawnlasrado20/FoodManagement_ML

# **Problem Statement** -

Food wastage is a significant issue, with many households and restaurants discarding surplus food while numerous people struggle with food insecurity. This project aims to develop a Local Food Wastage Management System, where:
* Restaurants and individuals can list surplus food.
* NGOs or individuals in need can claim the food.
* SQL stores available food details and locations.
* A Streamlit app enables interaction, filtering, CRUD operation and visualization.

In [1]:
import pandas as pd
import sqlite3

In [2]:
providers = pd.read_csv('providers_data.csv')
receivers = pd.read_csv('receivers_data.csv')
food_listings = pd.read_csv('food_listings_data.csv')
claims = pd.read_csv('claims_data.csv')

In [3]:
providers.head()

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577

In [4]:
receivers.head()

   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

In [5]:
food_listings.head()

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

In [6]:
claims.head()

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

In [7]:
providers.duplicated().sum()

np.int64(0)

In [8]:
food_listings.duplicated().sum()

np.int64(0)

In [9]:
claims.duplicated().sum()

np.int64(0)

In [10]:
receivers.duplicated().sum()

np.int64(0)

In [11]:
providers.isnull().sum()

Provider_ID    0
Name           0
Type           0
Address        0
City           0
Contact        0
dtype: int64

In [12]:
receivers.isnull().sum()

Receiver_ID    0
Name           0
Type           0
City           0
Contact        0
dtype: int64

In [13]:
food_listings.isnull().sum()
claims.isnull().sum()

Claim_ID       0
Food_ID        0
Receiver_ID    0
Status         0
Timestamp      0
dtype: int64

In [14]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:shawn@localhost:3306/Foodwaste"
)

In [15]:
providers.to_sql('providers', con=engine, if_exists='replace', index=False)
receivers.to_sql('receivers', con=engine, if_exists='replace', index=False)
food_listings.to_sql('food_listings', con=engine, if_exists='replace', index=False)
claims.to_sql('claims', con=engine, if_exists='replace', index=False)

1000

In [16]:
with engine.connect() as conn:
    print(pd.read_sql("SHOW TABLES;", conn))

  Tables_in_Foodwaste
0              claims
1       food_listings
2           providers
3           receivers

Query 1 - How many food providers and receivers are there in each city?

In [17]:
#Q1 How many food providers and receivers are there in each city?
query1_providers = """
SELECT City, COUNT(*) AS Provider_Count
FROM providers
GROUP BY City;
"""

query1_receivers = """
SELECT City, COUNT(*) AS Receiver_Count
FROM receivers
GROUP BY City;
"""

with engine.connect() as conn:
    providers_count = pd.read_sql(query1_providers, conn)
    receivers_count = pd.read_sql(query1_receivers, conn)

print("Providers by City:\n", providers_count)
print("\nReceivers by City:\n", receivers_count)

Providers by City:
                  City  Provider_Count
0            Adambury               1
1           Adamsview               1
2          Adamsville               1
3        Aguirreville               1
4    Alexanderchester               1
..                ...             ...
958       Wrightville               1
959         Yatesside               1
960      Youngchester               1
961      Zimmermanton               1
962    Zimmermanville               1

[963 rows x 2 columns]

Receivers by City:
               City  Receiver_Count
0       Aaronshire               1
1         Adamland               1
2      Aguilarbury               1
3      Aguilarstad               1
4    Alexanderbury               1
..             ...             ...
961    Woodardview               1
962      Woodsfurt               1
963     Wrightland               1
964       Wyattton               1
965    Zacharyview               1

[966 rows x 2 columns]

Query 2 - Which type of food provider (restaurant, grocery store, etc.) contributes the most food?

In [18]:
# Which type of food provider (restaurant, grocery store, etc.) contributes the most food?
query3 = """
SELECT Provider_Type,
       COUNT(Food_ID) AS Total_Contributions
FROM food_listings
GROUP BY Provider_Type
ORDER BY Total_Contributions DESC;
"""

with engine.connect() as conn:
    df_q2 = pd.read_sql(query3, conn)

print("\n--- Provider Type with Most Contributions ---")
print(df_q2)

--- Provider Type with Most Contributions ---
      Provider_Type  Total_Contributions
0       Supermarket                  267
1        Restaurant                  258
2     Grocery Store                  243
3  Catering Service                  232

Query 3 - What is the contact information of food providers in a specific city?

In [19]:
#What is the contact information of food providers in a specific city?
city_name = "New Jessica"

query4 = f"""
SELECT Name, Contact
FROM providers
WHERE City = '{city_name}';
"""

with engine.connect() as conn:
    df_q3 = pd.read_sql(query4, conn)

print(f"\n--- Provider Contact Info in {city_name} ---")
print(df_q3)

--- Provider Contact Info in New Jessica ---
               Name          Contact
0  Gonzales-Cochran  +1-600-220-0480

Query 4 - Which receivers have claimed the most food?

In [20]:
#Which receivers have claimed the most food?
query5 = """
SELECT r.Name AS Receiver_Name,
       COUNT(c.Claim_ID) AS Total_Claims
FROM claims c
JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
GROUP BY r.Name
ORDER BY Total_Claims DESC;
"""

with engine.connect() as conn:
    df_q4 = pd.read_sql(query5, conn)

print("\n---Receivers with Most Food Claims:---")
print(df_q4)

---Receivers with Most Food Claims:---
         Receiver_Name  Total_Claims
0         Scott Hunter             5
1    William Frederick             5
2         Matthew Webb             5
3       Anthony Garcia             5
4           Alvin West             4
..                 ...           ...
615       Alexis Hayes             1
616   Angelica Simmons             1
617    Brittany Taylor             1
618    Cheyenne Ramsey             1
619       April Miller             1

[620 rows x 2 columns]

Query 5 - What is the total quantity of food available from all providers?

In [21]:
# What is the total quantity of food available from all providers?
query6 = """
SELECT SUM(Quantity) AS Total_Quantity_Available
FROM food_listings;
"""

with engine.connect() as conn:
    df_q5 = pd.read_sql(query6, conn)

print("\nTotal Quantity of Food Available:")
print(df_q5)

Total Quantity of Food Available:
   Total_Quantity_Available
0                   25794.0

Query 6 - Which city has the highest number of food listings?

In [22]:
query6 = """
SELECT Location AS City, COUNT(Food_ID) AS Total_Listings
FROM food_listings
GROUP BY Location
ORDER BY Total_Listings DESC
LIMIT 1;
"""

with engine.connect() as conn:
    df_q6 = pd.read_sql(query6, conn)

print("\nCity with Highest Number of Food Listings:")
print(df_q6)

City with Highest Number of Food Listings:
        City  Total_Listings
0  New Carol               6

Query 7 - What are the most commonly available food types?

In [23]:
query7 = """
SELECT Food_Type, COUNT(Food_ID) AS Count
FROM food_listings
GROUP BY Food_Type
ORDER BY Count DESC;
"""

with engine.connect() as conn:
    df_q7 = pd.read_sql(query7, conn)

print("\nMost Commonly Available Food Types:")
print(df_q7)

Most Commonly Available Food Types:
        Food_Type  Count
0      Vegetarian    336
1           Vegan    334
2  Non-Vegetarian    330

Query 8 - How many food claims have been made for each food item?

In [24]:
query8 = """
SELECT f.Food_Name, COUNT(c.Claim_ID) AS Total_Claims
FROM claims c
JOIN food_listings f ON c.Food_ID = f.Food_ID
GROUP BY f.Food_Name
ORDER BY Total_Claims DESC;
"""

with engine.connect() as conn:
    df_q8 = pd.read_sql(query8, conn)

print("\nFood Claims Per Food Item:")
print(df_q8)

Food Claims Per Food Item:
    Food_Name  Total_Claims
0        Rice           122
1        Soup           114
2       Dairy           110
3        Fish           108
4       Salad           106
5     Chicken           102
6       Bread            94
7       Pasta            87
8  Vegetables            86
9      Fruits            71

Query 9 - Which provider has had the highest number of successful food claims?

In [25]:
query9 = """
SELECT p.Name AS Provider_Name, COUNT(c.Claim_ID) AS Successful_Claims
FROM claims c
JOIN food_listings f ON c.Food_ID = f.Food_ID
JOIN providers p ON f.Provider_ID = p.Provider_ID
WHERE c.Status = 'Completed'
GROUP BY p.Name
ORDER BY Successful_Claims DESC
LIMIT 1;
"""

with engine.connect() as conn:
    df_q9 = pd.read_sql(query9, conn)

print("\nProvider with Highest Successful Claims:")
print(df_q9)

Provider with Highest Successful Claims:
  Provider_Name  Successful_Claims
0   Barry Group                  5

Query 10 - What percentage of claims are completed vs pending vs canceled?

In [26]:
query10 = """
SELECT Status,
       COUNT(*) * 100.0 / (SELECT COUNT(*) FROM claims) AS Percentage
FROM claims
GROUP BY Status;
"""

with engine.connect() as conn:
    df_q10 = pd.read_sql(query10, conn)

print("\nPercentage of Claims by Status:")
print(df_q10)

Percentage of Claims by Status:
      Status  Percentage
0  Cancelled        33.6
1  Completed        33.9
2    Pending        32.5

Query 11 - What is the average quantity of food claimed per receiver?

In [27]:
query11 = """
SELECT r.Name AS Receiver_Name,
       AVG(f.Quantity) AS Avg_Quantity_Claimed
FROM claims c
JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
JOIN food_listings f ON c.Food_ID = f.Food_ID
WHERE c.Status = 'Completed'
GROUP BY r.Name
ORDER BY Avg_Quantity_Claimed DESC;
"""

with engine.connect() as conn:
    df_q11 = pd.read_sql(query11, conn)

print("\nAverage Quantity of Food Claimed per Receiver:")
print(df_q11)

Average Quantity of Food Claimed per Receiver:
       Receiver_Name  Avg_Quantity_Claimed
0      Mary Franklin                  50.0
1         Mark Lewis                  50.0
2       Emily Turner                  50.0
3      Daniel Burton                  50.0
4        Nancy Jones                  50.0
..               ...                   ...
287    Timothy Burns                   2.0
288  Shelly Castillo                   2.0
289      Oscar Bauer                   1.0
290     Amanda Kline                   1.0
291     Janet Newton                   1.0

[292 rows x 2 columns]

Query 12 - Which meal type (breakfast, lunch, dinner, snacks) is claimed the most?

In [28]:
query12 = """
SELECT f.Meal_Type,
       COUNT(c.Claim_ID) AS Total_Claims
FROM claims c
JOIN food_listings f ON c.Food_ID = f.Food_ID
GROUP BY f.Meal_Type
ORDER BY Total_Claims DESC;
"""

with engine.connect() as conn:
    df_q12 = pd.read_sql(query12, conn)

print("\nMeal Type with Most Claims:")
print(df_q12)

Meal Type with Most Claims:
   Meal_Type  Total_Claims
0  Breakfast           278
1      Lunch           250
2     Snacks           240
3     Dinner           232

Query 13 - What is the total quantity of food donated by each provider?

In [29]:
query13 = """
SELECT p.Name AS Provider_Name,
       SUM(f.Quantity) AS Total_Quantity_Donated
FROM food_listings f
JOIN providers p ON f.Provider_ID = p.Provider_ID
GROUP BY p.Name
ORDER BY Total_Quantity_Donated DESC;
"""

with engine.connect() as conn:
    df_q13 = pd.read_sql(query13, conn)

print("\nTotal Quantity of Food Donated by Each Provider:")
print(df_q13)

Total Quantity of Food Donated by Each Provider:
                       Provider_Name  Total_Quantity_Donated
0                         Miller Inc                   217.0
1                        Barry Group                   179.0
2         Evans, Wright and Mitchell                   158.0
3                        Smith Group                   150.0
4                       Campbell LLC                   145.0
..                               ...                     ...
623                  Norris-Townsend                     1.0
624                   Gonzales-Moore                     1.0
625  Martinez, Armstrong and Carroll                     1.0
626                        Mcgee PLC                     1.0
627                   Reyes and Sons                     1.0

[628 rows x 2 columns]

Query 14 - Find top 5 cities with the highest demand

In [30]:
query14 = """
SELECT f.Location AS City,
       COUNT(c.Claim_ID) AS Total_Claims
FROM claims c
JOIN food_listings f ON c.Food_ID = f.Food_ID
GROUP BY f.Location
ORDER BY Total_Claims DESC
LIMIT 5;
"""

with engine.connect() as conn:
    df_q14 = pd.read_sql(query14, conn)

print("\nTop 5 Cities with Highest Demand (Claims):")
print(df_q14)

Top 5 Cities with Highest Demand (Claims):
               City  Total_Claims
0  East Heatherport            12
1  Lake Andrewmouth             9
2         Jamesfurt             9
3         New Carol             7
4     South Kathryn             7

Query 15 - Which food types are most wasted

In [31]:
query15 = """
SELECT f.Food_Type,
       COUNT(f.Food_ID) AS Unclaimed_Items
FROM food_listings f
LEFT JOIN claims c ON f.Food_ID = c.Food_ID
WHERE c.Claim_ID IS NULL
GROUP BY f.Food_Type
ORDER BY Unclaimed_Items DESC;
"""

with engine.connect() as conn:
    df_q15 = pd.read_sql(query15, conn)

print("\nMost Wasted (Unclaimed) Food Types:")
print(df_q15)

Most Wasted (Unclaimed) Food Types:
        Food_Type  Unclaimed_Items
0           Vegan              124
1  Non-Vegetarian              115
2      Vegetarian              114

# **Conclusion** -

This project has been an enriching journey through multiple domains of technology and social impact. By building the Local Food Wastage Management System, I have gained a deep understanding of how data-driven solutions can address real-world challenges like food waste and insecurity.

Through this work, I learned the importance of data preparation and quality to ensure that underlying datasets are consistent and reliable, which is critical for effective analysis. I also developed hands-on expertise in database design and SQL querying, crafting complex queries to extract meaningful insights from transactional data.

The project strengthened my skills in Python programming and Streamlit development, allowing me to create a user-friendly interface that bridges technical backend processes with intuitive frontend interactions. Implementing interactive dashboards, filters, and CRUD operations demonstrated how software can enable collaboration and transparency in community-centered initiatives.

Beyond technical skills, this project deepened my understanding of the systemic issues behind food wastage and hunger, highlighting the role technology can play in fostering sustainability and social justice. It emphasized the power of connecting stakeholders donors, receivers, and intermediaries through efficient platforms.

Overall, this project reinforced how analytics, software development, and a strong problem-solving mindset come together to create impactful solutions.